asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
diff-match-patch==20181111
Django==2.0.5
django-cors-headers==3.2.1
django-crispy-forms==1.7.2
django-formtools==2.1
django-import-export==1.0.1
django-pure-pagination==0.3.0
django-reversion==3.0.0
future==0.18.2
httplib2==0.17.0
idna==2.9
Jinja2==2.9.6
MarkupSafe==1.1.1
mysqlclient==1.4.6
numpy==1.18.3
pandas==1.0.3
Pillow==7.0.0
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
SQLAlchemy==1.3.16
sqlparse==0.3.0
tablib==1.0.0
urllib3==1.25.9
wincertstore==0.2
xlrd==1.1.0
xlwt==1.3.0
